/*
 * COM_ICAGENDA
 * Small devices (usually a tablet computer)
 * 'Small Screen Threshold' < SCREEN WIDTH < ('Medium Screen Threshold' - 1)
 * Default : 481 < SCREEN WIDTH < 768
 */

/* Style Title/Category Header (event details view) */
#icagenda .event-header {
	width: auto;
}
#icagenda .title-header {
	width: 98%;
	text-align: left;
}
#icagenda .title-cat {
	width: 98%;
	text-align: left;
}

/* Style Information */
#icagenda .information {
	text-align: center;
	width: auto;
}

#icagenda .information .infoleft {
	width: 86%;
}

#icagenda .information .infomiddle {
	width: 64%;
}

#icagenda .information .inforight {
	width: 100px;
}
